<ion-header>
  <ion-toolbar>
    <ion-title>
      Compound Interest Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed" text-wrap>Amount</ion-label>
    <ion-input [(ngModel)]="Amount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" text-wrap>Rate of Interest</ion-label>
    <ion-input [(ngModel)]="Rate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" text-wrap>Total Years</ion-label>
    <ion-input [(ngModel)]="Period"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed" text-wrap>Frequeny per year</ion-label>
    <ion-input [(ngModel)]="Frequency"></ion-input>
  </ion-item>
  <ion-button (click)="CalculateCompoundReturn()">Calculate</ion-button>
  <ion-input [(ngModel)]="Total"></ion-input>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>&copy;jitusurve@gmail.com</ion-title>
  </ion-toolbar>
</ion-footer>
